header {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
menu {
    margin-left: 115px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    > .header_item {
        > .menu_item {
            text-decoration: none;
            color: #616161;
            font-size: 18px;
            line-height: 29px;
        }
    }
    > .header_telephone {
        font-weight: bold;
        color: #000000;
        line-height: 29px;
        font-size: 18px;
        margin-top: 0;
        padding-left: 17px;
    }
}