header {
    display: flex;
    flex-direction: row;
    margin-left: 17.3%;
}
.logo {
    > img {
        width: 120px;
    }
}
menu {
    margin-top: 15px;
    margin-left: 92px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 59px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    > .header_item {
        > .menu_item {
            text-decoration: none;
            color: #616161;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 0.15px;
        }
    }
    > .header_telephone {
        font-weight: bold;
        color: #000000;
        line-height: 25px;
        font-size: 15px;
        margin-top: 0;
        padding-left: 35px;
    }
}