.partners 
    .partners_text
        .partners_text_heading
            h1 Наши партнеры
            h1 по бизнесу
        .partners_text_description
            p Хотим рассказать вам
            p с кем мы сотрудничаем,
            p и кто нам <span>доверяет</span>
    .partners_img
        .first_line
            img.ostankino(src="./img/ostankino.png", alt="", srcset="")
            img.miratorg(src="./img/miratorg.png", alt="", srcset="")
        .second_line
            img.agro(src="./img/agro.png", alt="", srcset="")
            img.rus_agro(src="./img/rus_agro.png", alt="", srcset="")
        .third_line
            img.komos(src="./img/komos.png", alt="", srcset="")
            img.promagro(src="./img/promagro.png", alt="", srcset="")




