.main_container
    .main_container_text
        .main_container_text_heading
            p У нас вы найдете лучшие
            p светодиодные лампы
            p для животоводства
        .main_container_text_description 
            p Оставьте нам свой номер,
            p и получите <span>бесплатный</span> рассчет
            p специально для вас!
        form.main_container_form 
            input(type="tel" placeholder="7 (ххх) ххх хх хх")
            button 
                span Отправить
    .main_container_images
        img(src="img/container_img.png", alt="", srcset="")