.company_info 
    .company_info_headings
        h1 Расскажем вам немного о себе
        p Мы ценим ваше время, по этому мы постараемся
        p рассказать о <span>главном вкратце!</span>
    .company_info_description
        .company_info_description_img 

    .company_info_description_text
        img(src="", alt="", srcset="")
        p Наша компания была основана в 2015 году, 
        p название ей «ЭлипсЛед». Занимаемся мы 
        p производством светильников для животноводства
        img(src="", alt="", srcset="")
        p Работаем мы исключительно на собственном
        p оборудовании и только с качественным сырьем.
        img(src="", alt="", srcset="")
        p С помощью команды наших специалистов
        p мы смогли добиться одного из самых высоких уровней качества светодиодных светильников
        p для свиноводства, КРС, выращивания грибов!

