.company_info {
    height: 643px;
    .company_info_headings {
        align-items: center;
        width: 670px;
        padding-left: 28.8%;
        //margin-top: 5px;
    > h1 {
        text-align: center;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-size: 49px;
        font-weight: bold;
        line-height: 44px;
        letter-spacing: -0.5px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    > h1::before {
        content: '';
        position: absolute;
        bottom: 13%;
        left: 1%;
        width: 98.5%;
        height: 18%;
        background-color: orange;
        z-index: -1;
    }
    > p {
        text-align: center;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-size: 19px;
        line-height: 29px;
        margin: 0;
        color: #666666;
        padding-right: 20px;
        letter-spacing: 0.15px;
        > span {
            color: #ff9933;
        }
    }
}
.under_heading {
    padding-top: 12px;
}
}
.company_info_description {
    margin-left: 21%;
    margin-top: 30px;
    width: 800px;
    height: 500px;
}
.company_info_description_img {
    float: left;
    min-width: 320px;
    min-height: 400px;
    padding-left: 110px;
    padding-top: 5px;
    > img {
        height: 360.2px;
        width: 319.2px;
    }
}

.company_info_description_text {
    float: left;
    max-width: 350px;
    padding-left: 27px;
    padding-top: 3px;
    > p {
        margin: 0;
        font-size: 14px;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        color: black;
        text-align: center;
        line-height: 21px;
        padding-left: 3px;
        letter-spacing: 0.2px;
    }
}
.circle {
    margin-left: 150px;
    border-radius: 50%;
    border: 1px solid #ff9933;
    width: 15px;
    height: 15px;
    align-items: center;
    text-align: center;
    > p {
        margin: 0;
        // padding-top: 25%;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        color: #ff9933;
        font-weight: bold;
        font-size: 12px;
        
    }
}
.line {
    border-left: 1px solid #ff9933;
    width: 0px;
    height: 15px;
    margin-left: 158.5px;
}
p.text_under_number {
    padding-top: 8px;
}
p.text_above_number {
    padding-bottom: 10px;
}
