mixin circle_number (number)
    if number == 2
        .line
    if number == 3
        .line
    .circle 
        p=number
    .line
.company_info 
    .company_info_headings
        h1 Расскажем вам немного о себе
        p.under_heading Мы ценим ваше время, по этому мы постараемся
        p рассказать о <span>главном вкратце!</span>
    .company_info_description
        .company_info_description_img 
            img(src="./img/lamp.png", alt="", srcset="")
        .company_info_description_text
            +circle_number("1")
            p.text_under_number Наша компания была основана в 2015 году, 
            p название ей «ЭлипсЛед». Занимаемся мы 
            p.text_above_number производством светильников для животноводства
            +circle_number("2")
            p.text_under_number Работаем мы исключительно на собственном
            p.text_above_number оборудовании и только с качественным сырьем.
            +circle_number("3")
            p.text_under_number С помощью команды наших специалистов
            p мы смогли добиться одного из самых высоких 
            p уровней качества светодиодных светильников
            p.text_above_number для свиноводства, КРС, выращивания грибов!

